.newOrdersTable {
    display: flex;
    flex: 1;
    width: auto;
    overflow: hidden;
    justify-content: center;
    background: whitesmoke;
    align-self: stretch;
    border-radius: 0.5rem;
    padding: 1rem;
    box-shadow: 0px 0px 20px 5px #d5d3d3;
}

.table {
    border: #282c34;
    border: groove;
}

.tableContainer{

}

.MuiTableRow-root.MuiTableRow-head>*{
    font-weight: bold !important;
}

.statusSpan{
    padding: 8px;
    border-radius: 14px;
    background-color: #a6c7a5;
    width: fit-content;
}