.newOrdersTable {
    display: flex;
    height: 100%;
    width: 60%;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

.table {
    border: #282c34;
    border: groove;
}