.newOrdersTable {
    display: flex;
    flex: 1;
    width: auto;
    overflow: hidden;
    justify-content: center;
    background: whitesmoke;
    align-self: stretch;
    border-radius: 0.5rem;
    padding: 1rem;
}

.table {
    border: #282c34;
    border: groove;
}